<div class="HomePage">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-12 col-sm-12 d-flex">
                <img src="../../assets/Logo2.png" />
            </div>
            <div class="col-lg-6 col-md-12 col-sm-12">
                <div class="col-12 ">
                    <div class="d-flex justify-content-between align-items-center navbar">
                        <a href="#" class="nav-link">Home</a>
                        <a href="#" class="nav-link">Who we Are?</a>
                        <a href="#" class="nav-link">Programs</a>
                        <a href="#" class="nav-link">About</a>
                        <a href="#" class="nav-link">Blog</a>
                        <a routerLink="/contactus" class="nav-link">Contact Us</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-3  col-md-12 col-sm-12 d-flex ">
                <h2 class="callus">Call Us : +91 1234567890</h2>
                <!-- <h3 class="calluse mx-2"><i class="bi bi-heart"></i> Donation</h3> -->
            </div>
        </div>
        <div class="col-12">
            <div class="row">
                <div class="col-lg-12">
                    <span class="textone ">Give a Helping <br>hand to
                        those <br> who need it </span>
                    <span class="texttwo">When a child gets good food, it <br> can change just above everything
                    </span><br>
                    <button class="square-button mx-5">Ongoing Programs</button>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="beggar pb-5" style="background-color:darkgray;">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 text-center pt-5 text-end">
                <img class="helpclass"
                    src="https://img.freepik.com/free-photo/two-smiling-boys-looking-camera-outdoors-generated-by-ai_188544-54043.jpg?t=st=1719919089~exp=1719922689~hmac=2d87cb9ca50d5440c587e2a2030f7e6c6ebedf2de512fc424d4ebf49d0ce7a48&w=1060" />
            </div>
            <div class="col-lg-6">
                <div class="text-container pt-5 animate-text">
                    <h1 class="title">Help the Homeless</h1>
                    <p class="subtitle">Every little bit helps</p>
                    <p class="description">Your support can make a huge difference in the<br> lives of those who are struggling.
                        <br>By providing food, shelter, and resources, <br> we can help people get back on their feet.</p>
                    <button class="donate-button">Donate Now</button>
                    <button class="view-button mx-3">View Programs</button>
                </div>
            </div>
        </div>
    </div>
</div>
<app-cards></app-cards>
<app-helptody></app-helptody>
<app-image-animations></app-image-animations>
<app-testimonals></app-testimonals>
<app-footerr></app-footerr>