<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-md-12 col-sm-12 d-flex">
            <img src="../../assets/Logo2.png" />
        </div>
        <div class="col-lg-6 col-md-12 col-sm-12">
            <div class="col-12 ">
                <div class="d-flex justify-content-between align-items-center navbar">
                    <a href="#" class="nav-link">Home</a>
                    <a href="#" class="nav-link">Who we Are?</a>
                    <a href="#" class="nav-link">Programs</a>
                    <a href="#" class="nav-link">About</a>
                    <a href="#" class="nav-link">Blog</a>
                    <a href="#" class="nav-link">Contact Us</a>
                </div>
            </div>
        </div>
        <div class="col-lg-3  col-md-12 col-sm-12 d-flex ">
            <h2 class="callus">Call Us : +91 1234567890</h2>
            <!-- <h3 class="calluse mx-2"><i class="bi bi-heart"></i> Donation</h3> -->
        </div>
    </div>