<div class="ContactUs">
    <app-header></app-header>
    <div class="container-fluid">
        <div class="row">
            <div class="col-6"></div>
            <div class="col-lg-6 col-sm-12 col-md-12 text-white text-end pt-2">
                <span class="contact">CONTACT US</span>
                <h3 class="contactw">Home/About</h3>
            </div>
        </div>
    </div>
</div>
<div class="col-12 imagebelow">
    <div class="row">
        <div class="col-lg-6 col-sm-12 col-md-12">
            <div class="form-container">
                <div class="form">
                    <h1>Contact Us</h1>
                    <input placeholder="Name" type="text" class="input">
                    <input placeholder="Email" id="mail" type="email" class="input">
                    <textarea placeholder="FeedBack" rows="10" cols="30" id="message" name="message"
                        class="textarea"></textarea>
                    <div class="button-container">
                        <div class="send-button">Send</div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-sm-12 col-md-12">
            <div class="form-container">
                <div class="form">
                    <h1>Contact Details</h1>
                    <ul class="list-unstyled">
                        <li class="mb-3 h1">
                            <i class="h1 bi bi-telephone-fill"></i> <span class="h1 mb-0">  Phone:</span> +91 900 2850 890
                        </li>
                        <li class="mb-3 h1">
                            <i class="bi bi-envelope-fill h1"></i> <span class="h1 mb-0">  Email:</span> spoorthifoundation@gmail.com
                        </li>
                        <li class="mb-3 h1">
                            <i class="bi bi-geo-alt-fill h1"></i> <span class="h1 mb-0">  Address:</span>Dashimikonda Colony
                           Old Gajuwaka , Viskhapatnam Pincode-530029
                        </li>
                        <li class="text-center">
                            <img src="https://img.freepik.com/free-photo/portrait-sad-child_23-2150761630.jpg?t=st=1720088095~exp=1720091695~hmac=d07936d72020397b15315a224e41a07cd45b603ca3a14e0ae1ccf07f870e44ae&w=996" alt="Image" class="img-fluid mt-4" style="width: 100%;">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footerr></app-footerr>