<div class="image-animation pt-5">
    <div class="container-fluid">
        <div class="row">
            <h1  class="text-center cast"> <b>Support Our Foundation</b></h1>
            <div class="col-12 Donationinfo text-center">
               
                Your generosity empowers us to care for children and seniors in need. 
                Together, we can create brighter futures and provide essential support.
                Donate today and transform lives with compassion and hope.<br>
                <a href=""> <button  class="donate-button text-center">Donate Now</button></a>
            </div>
          
        </div>
    </div>
</div>
