<div class="cards">
  <div class="container-fluid">
    <!-- <marquee> -->
        <h1 class="text-white" >
          EVERY DAY PROGRAMS
        </h1>
      <!-- </marquee>
       -->
      <div class="row">
          <div class="col-lg-3 col-md-12 col-sm-12">
              <div class="card" style="width: 100%;">
                  <img class="card-img-top" src="https://img.freepik.com/free-photo/close-up-donations-charity_23-2149134485.jpg?t=st=1719995460~exp=1719999060~hmac=098dc9a457e8073e3da470d92311928590153c9110f41d1b32b6565b85460911&w=740" alt="Card image cap">
                  <div class="card-body">
                      <h1>Donating Clothes</h1>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="square-button">Read more  <span style='font-size:20px;'>&#8594;</span></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12">
            <div class="card" style="width: 100%;">
                <img class="card-img-top" src="https://img.freepik.com/free-photo/close-up-donations-charity_23-2149134485.jpg?t=st=1719995460~exp=1719999060~hmac=098dc9a457e8073e3da470d92311928590153c9110f41d1b32b6565b85460911&w=740" alt="Card image cap">
                <div class="card-body">
                    <h1>Donating Clothes</h1>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="square-button">Read more  <span style='font-size:20px;'>&#8594;</span></a>
                </div>
            </div>
        </div>
          <div class="col-lg-3 col-md-12 col-sm-12">
              <div class="card" style="width: 100%;">
                  <img class="card-img-top" src="https://img.freepik.com/free-photo/close-up-people-holding-apples-bag_23-2149182018.jpg?t=st=1719997015~exp=1720000615~hmac=e4dad9415116817f489c0e6519e92c67ca79eb52d448d52436372374b4bbc162&w=996" alt="Card image cap">
                  <div class="card-body">
                      <h1>Donating Food</h1>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="square-button">Read more  <span style='font-size:20px;'>&#8594;</span></a>
                  </div>
              </div>
          </div>
          <div class="col-lg-3 col-md-12 col-sm-12">
              <div class="card" style="width: 100%;">
                  <img class="card-img-top" src="https://img.freepik.com/free-photo/close-up-donations-charity_23-2149134485.jpg?t=st=1719995460~exp=1719999060~hmac=098dc9a457e8073e3da470d92311928590153c9110f41d1b32b6565b85460911&w=740" alt="Card image cap">
                  <div class="card-body">
                      <h1>Donating Books</h1>
                      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                      <a href="#" class="square-button">Read more  <span style='font-size:20px;'>&#8594;</span></a>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>