<div class="Footer">
    <div class="container-fluid" style="background-color:	#29487d">
        <!-- <div class="row">
            <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d30451.98564989163!2d78.44003839999999!3d17.4358528!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sen!2sin!4v1719923278823!5m2!1sen!2sin" style="height:500px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div> -->
        <div class="row text-white">
            <div class="col-lg-3 col-md-12 col-sm-12 text-white text-center ">
                <img src="../assets/Logo2.png" />
                <h1>Support Our Orphanage</h1>
                <p>Make a Difference Today. Your donation provides food, shelter, 
                    and education to children in need. Help us create a brighter future.</p>
                <span class="social-icons d-flex text-white">
                    <p class="social-icon"><i class="bi bi-facebook"></i></p>
                    <p class="social-icon"><i class="bi bi-whatsapp"></i></p>
                    <p class="social-icon"><i class="bi bi-youtube"></i></p>
                    <p class="social-icon"><i class="bi bi-instagram"></i></p>
                </span>
            </div>
            
            <div class="col-lg-3 col-md-12 col-sm-12 text-center navigation">
               <h2 >Navigation</h2>
               <p class="pt-3"><a href="" >Home</a></p>
               <p><a href="">About</a></p>
               <p><a href="">Contact</a></p>
               <p><a href="">Blog</a></p>
               <p><a href="">Services </a></p>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12  navigation">
                <h2 >Contact Us</h2>
                <p  class="pt-3">6-38-11-1/A ,Lv nagar,Old Gajuwaka -530026</p>
                <p>0987654321</p>
                <p>spoorthifoundation@gmail.com</p>
            </div>
            <div class="col-lg-3 col-md-12 col-sm-12 navigation">
                <h2 >Support</h2>
                <p  class="pt-3">When a child access to <br> gets food it can be change</p>
                <button class="small-button">Join Us Today</button>
                <hr>
                <a href="#"><button  class="circular-button ">
                    <i class="bi bi-arrow-up"></i>
                </button></a>
            </div>
        </div>
    </div>
</div>
