<div class="help">
    <div class="container-fluid">
        <div class="row text-center">
            <p class="small-heading pt-5">Helping Today</p>
            <h1 class="large-heading text-white">How We  Help People</h1>
            <div class="col-lg-4 col-md-12 col-sm-12 pt-5">
                <img src="../../assets/food (1).png" style="height: 70px; width: 100px;" />
                <p class="image-description">Pure Food And Water Distribution</p>
                <p class="image-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in convallis felis.
                    Suspendisse potenti. Vestibulum eget libero vitae tortor viverra suscipit.
                </p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 pt-5">
                <img src="../../assets/health-insurance.png" style="height: 70px; width: 100px;" />
                <p class="image-description">Healthcare And Medicine</p>
                <p class="image-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in convallis felis.# potenti. Vestibulum eget libero vitae tortor viverra suscipit.</p>
            </div>
            <div class="col-lg-4 col-md-12 col-sm-12 pt-5">
                 <img src="../../assets/image.png" style="height: 70px; width: 100px; " />
              
                <p class="image-description">Education</p>
                <p class="image-details">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam in convallis felis.
                    Praesent auctor, dui in efficitur vulputate, lorem ipsum faucibus dui.</p>
            </div>
        </div>
    </div>
</div>
